{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/style.css">
{% endblock %}
{% block content %}
        <div class="about-rockt">
            <img src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg">
            <h1>RocketSeat</h1>
            <h5>Escola para programadores</h5>
            <h3>Principais Tecnologias</h3>
            <ul>
                <li>Node.js</li>
                <li>React</li>
                <li>React Native</li>
            </ul>
        </div>

        <div id="links-footer" class="links">
            <a target="_blank" href="https://github.com/Rocketseat">Github</a>
            <a target="_blank" href="http://instagram.com/rocketseat_oficial">Instagram</a>
            <a target="_blank" href="http://fb.com/rocketseat">Facebook</a>
        </div>
{% endblock %}