<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Rocketseat</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/style.css">
        {% endblock %}
    </head>
    <body>
        <header class="top">
            <div class="links">
                <a target="_blank" href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
                <a href="/courses">Conteúdos</a>
                <a href="/">Sobre</a>
            </div>
        </header>

        {% block content %}

        {% endblock %}


    </body>
</html>
