@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background: #282a36;
    font-family: roboto;
    color: white;
}

header {
    background: rgba(0, 0, 0, 0.2);
    margin: none;
    padding: 20px;
}

div {
    text-align: center;
}

div img {
    margin-top: 40px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(255, 166, 0);
}

div h1 {
    font-size: 42px;
    margin-top: 20px;
}

div h5 {
    color: rgb(255, 166, 0);
    font-size: 16px;
    opacity: 0.5;
    font-weight: normal;
}

div h3 {
    margin-top: 20px;
}

div ul {
    margin-top: 10px;
}

.links a {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: white;
    font-family: roboto;
    margin: 0 30px;
}

.links a:hover {
    color: orange;
    transition: 0.5s;
}

#links-footer {
    margin-top: 20px;
}